
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0rem;
    
}

html, body{
    height:100%;
    width: 100%;
    position: relative;
}
body{
    /*background-color: #111111 !important;
    color: #CCCCCC !important;*/
}
/*
.colorscheme{
    background-color: #111111;
    color: #CCCCCC;
}
*/

#contactinfo{
    position: relative;
    padding-top: calc(0.7 * (100vh - 17px))
}

#map{
    width: 60%;
    height: 60%;
    position: absolute;
    left: 0;
    right: 0;
}

.imgcol3{
    width: 15rem;
}

.imgcol2{
    width: 25rem;
}

.fixed {
    position: fixed;
}

.tr {
    text-align: right;
}

.mtjump{
    display: block;
    height: 3.5rem;
    margin-top: -3.8rem;
    visibility: hidden;
}

.border-box {
    box-sizing: border-box;
    border-bottom-style: solid;
    border-width: 0.005rem;
    border-color: #656565;
}

.languagebox{
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.005rem;
    border-color: #656565;
}

.paddingbox{
    padding:0.1rem;
    padding-bottom: 0.05rem;
}

.br-100 {
    border-radius: 100%;
}

.db {
    display: block;
}

.dt{
    display: table;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.w2 {
    width: 2rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #333;
}

.mid-gray {
    color: #555;
}

.pa3 {
    padding: 0.8rem;
}

.mr3 {
    margin-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.tc {
    text-align: center;
}

.tl{
    text-align: left;
}


.f6 {
    font-size: .875rem;
}

.v-mid {
    vertical-align: middle;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.body{
    padding-top: 3.5rem;
    
}

.bg-gray{
    background-color: #F7F7F7 ;
}

.bg-darkgray{
    background-color: #EBEBEB;
}

.bg-darkgray2{
    background-color: #5f5f5f;
}

.bg-white{
    background-color: #FFFFFF;
}

.fontwhite{
    color: #f1f1f1;
}

.lh-copy {
    line-height: 1.6;
}

.pa3 {
    padding: 0.6rem;
}

.mt0 {
    margin-top: 0;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
}
.middle{
    text-align: center;
}

.fullwidth{
    width: 100%;
}
.mb0{
    margin-bottom: 0rem;
}
.mb2{
    margin-bottom: 2rem;
}
.mb5{
    margin-bottom: 5rem;
}
.cl{
    clear:left;
}
.col3{
    width: 100%;
}

.col2{
    width: 100%;
}

.overflow{
    overflow: auto;
}

.t50{
    opacity: 0.5;
}

.ph5{
    padding-left: 4rem;
    padding-right: 4rem;
}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 75%;
}
.highprio{
    z-index: 2;
}
.highprio2{
    z-index: 1;
}

.floatleft{
    float:left;
}

.floatright{
    float: right;
}

.nofloat{
    clear: left;
    clear: right;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    border: none;
    padding: 0;
    cursor: pointer; 
    display: table-cell;
}

.dropbtn:focus{
    outline: 0;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #F7F7F7 ;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right:0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#hamburgerbtn{
    display: table-cell;
}
#header-list{
    display: none;
}

@media screen and (min-width: 60em) {
    #hamburgerbtn{
        display: none;
    }
    #header-list{
        display: table-cell;
    }
    #contactinfo{
        padding-top: calc(0.9 * (100vh - 17px))
    }
    #map{
        height: 80%;
    }

    .col3{
        width: 33.33%;
    }
    .col2{
        width: 50%;
    }
    .ft{
        float:left;
    }

    .dt-ns {
        display: table;
    }

    .dtc-ns {
        display: table-cell;
    }

    .w-25-ns {
        width: 25%;
    }

    .w-75-ns {
        width: 75%;
    }

    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mr4-ns {
        margin-right: 2rem;
    }

    .mb0-ns {
        margin-bottom: 0;
    }

    .tl-ns {
        text-align: left;
    }

    .tr-ns {
        text-align: right;
    }

    .f5-ns {
        font-size: 1rem;
    }
    .body{
        padding-top: 3.5rem;
    }
}

