
*{
    font-family: 'Roboto', sans-serif;
    margin-top: 0rem;
}

.fixed {
    position: fixed;
}

.border-box {
    box-sizing: border-box;
    border-bottom-style: solid;
    border-width: 0.005rem;
    border-color: #656565;
}

.br-100 {
    border-radius: 100%;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.w2 {
    width: 2rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #333;
}

.mid-gray {
    color: #555;
}

.pa3 {
    padding: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.tc {
    text-align: center;
}

.f6 {
    font-size: .875rem;
}

.v-mid {
    vertical-align: middle;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.body{
    padding-top: 6rem;
    
}

.bg-gray{
    background-color: #F7F7F7 ;
}

.bg-darkgray{
    background-color: #EBEBEB;
}

.bg-white{
    background-color: #FFFFFF;
}

.lh-copy {
    line-height: 1.6;
}

.pa3 {
    padding: 1rem;
}

.mt0 {
    margin-top: 0;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
}
.middle{
    text-align: center;
}

.fullwidth{
    width: 100%;
}
.mb0{
    margin-bottom: 0rem;
}
.mb5{
    margin-bottom: 5rem;
}
.cl{
    clear:left;
}
.width{
    width: 100%;
}

.overflow{
    overflow: auto;
}

.t50{
    opacity: 0.5;
}


@media screen and (min-width: 48em) {
    .width{
        width: 33.33%;
    }
    .ft{
        float:left;
    }
    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .dt-ns {
        display: table;
    }

    .dtc-ns {
        display: table-cell;
    }

    .w-25-ns {
        width: 25%;
    }

    .w-75-ns {
        width: 75%;
    }

    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mr4-ns {
        margin-right: 2rem;
    }

    .mb0-ns {
        margin-bottom: 0;
    }

    .tl-ns {
        text-align: left;
    }

    .tr-ns {
        text-align: right;
    }

    .f5-ns {
        font-size: 1rem;
    }
    .body{
        padding-top: 4.5rem;
    }
}

